<div class="row" >
  <div class="col">
    {{ conversion.sourceAmount }}
  </div>
  <div class="col">
    {{ conversion.sourceCurrency }}
  </div>
  <div class="col">
    {{ conversion.targetCurrency }}
  </div>
  <div class="col">
    {{ conversion.rate }}
  </div>
  <div class="col">
    {{ conversion.convertedAmount }}
  </div>
  <div class="col">
    {{ conversion.timeStamp }}
  </div>
  <div class="col">
    <form method='POST' action='/input/delete'>
      <input type='hidden' name='_id' value='{{ conversion._id}}' />
      <input type='submit' class="btn btn-dark m-2" value='Delete' />
    </form>
  </div>
</div>
